

.navbar
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 8%;
}


.navbar ul
{
    list-style: none;
    display: flex;
}

.navbar ul li
{
    display: block;
    padding: 20px;
}
